extends ../base_auth

block title
    |{{title | upper}}


block side_nav_container

    ul(class="collapsible",data-collapsible="accordion")
        li(class="bold waves-effect waves-light button-menu")

            div(class="collapsible-header active")
                i(class="material-icons") local_activity
                | Breadcrums

            div(class="collapsible-body collapsible-body-blue")
                ul
                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/") Inicio
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/ofertas/") Ofertas
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light breadcrum-active")
                        a(href="#") Crear oferta
                            i(class="material-icons icon-sican") check_circle

                    div(class="divider divider-perfil")



block container_principal
    div(class="container",style="margin-top:40px;")
        |{% crispy form %}


block body_script_auth
    script.
        $(document).ready(function () {

            $('#id_tipo_contrato').material_select();

            $("label[for='id_tipo_contrato']").addClass('active');
            $("label[for='id_municipios']").addClass('active');
            new AutoNumeric('#id_honorarios', { currencySymbol : '$ ' });

            $('#id_imagen').dropify({
                messages: {
                    'default': 'Arrastra y suelta una imagen',
                    'replace': 'Arrastra y suelta una imagen',
                    'remove': 'Eliminar',
                    'error': 'Ooops, algo malo paso.'
                }
            });

            $('#id_municipios').select2();

        });