<li class = "step {{ step.css_class }} {{ form_style }}" {% if step.css_id %}id="{{ step.css_id }}"{% endif %}
    {{ step.flat_attrs|safe }}>
    {% if title %}<div class="step-title waves-effect">{{ title|safe }}</div>{% endif %}
    <div class="step-content">
        <div class="row">
            {{ fields|safe }}
        </div>
        <div class="step-actions step-submit step-space-between">
            <button class="waves-effect waves-dark btn previous-step">ANTERIOR</button>
            <button class="waves-effect waves-dark btn button-submit" type="submit">GUARDAR</button>
        </div>
    </div>
</li>