extends ../../base_auth

block title
    |{{title | upper}}


block side_nav_container

    ul(class="collapsible",data-collapsible="accordion")
        li(class="bold waves-effect waves-light button-menu")

            div(class="collapsible-header active")
                i(class="material-icons") local_activity
                | Breadcrums

            div(class="collapsible-body collapsible-body-blue")
                ul
                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/") Inicio
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/iraca_2021/") IRACA
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light")
                        a(href="/iraca_2021/rutas/") Rutas
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light breadcrum-active")
                        a(href="#") Añadir ruta
                            i(class="material-icons icon-sican") check_circle

                    div(class="divider divider-perfil")



block container_principal
    div(class="container",style="margin-top:40px;")
        |{% crispy form %}


block body_script_auth
    script.
        $(document).ready(function () {
            $("label[for='id_contrato']").addClass('active');
            $("label[for='id_componente']").addClass('active');
            $("label[for='id_tipo_pago']").addClass('active');

            $('#id_componente').material_select();
            $('#id_tipo_pago').material_select();

            $('#id_contrato').select2({
                ajax: {
                    url: '{{ url_contratos }}',
                    dataType: 'json',
                    processResults: function (data) {
                        return {
                            results: data.results
                        };
                    },
                    cache: true
                },
                minimumInputLength: 1,
            });

            new AutoNumeric(document.getElementById('id_valor_transporte'), {currencySymbol: '$ '});
            new AutoNumeric(document.getElementById('id_valor_otros'), {currencySymbol: '$ '});
            new AutoNumeric(document.getElementById('id_valor_vinculacion'), {currencySymbol: '$ '});
            new AutoNumeric(document.getElementById('id_valor_transporte_vinculacion'), {currencySymbol: '$ '});

        });