extends ../../../../base_auth

block title
    |{{title | upper}}


block side_nav_container

    ul(class="collapsible",data-collapsible="accordion")
        li(class="bold waves-effect waves-light button-menu")

            div(class="collapsible-header active")
                i(class="material-icons") local_activity
                | Breadcrums

            div(class="collapsible-body collapsible-body-blue")
                ul
                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/") Inicio
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/iraca_2021/") IRACA
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/iraca_2021/entes_territoriales_2020/") Entes territoriales
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/iraca_2021/entes_territoriales_2020/interinstitucional/") Comite Interinstitucional
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="../") Hitos: {{ breadcrum_active | truncatechars:15 }}
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light breadcrum-active")
                        a(href="#") Gestión
                            i(class="material-icons icon-sican") check_circle

                    div(class="divider divider-perfil")



block container_principal
    div(class="container",style="margin-top:40px;")



        div(class="registro-history")
            ul
                | {% if registros_cantidad == 0 %}

                li(class="clearfix")
                    div(class="message-data right-align")
                        span(class="message-data-name",style="margin-right: 5px;") Diego Andres Fonseca Soto
                        span(class="message-data-time",style="margin-right: 5px;") Ahora
                    div(class="message other-message float-right")
                        div(class="container-html-delta")
                            h3
                                b No hay registros de gestión
                            br
                            p.
                                Para agregar un nuevo registro haz click en el boton rojo flotante (ubicado en la parte
                                inferior derecha) y selecciona la opción correspondiente.

                | {% else %}

                |{% for registro in registros %}
                |{% if not registro.propio %}
                li(class="clearfix")
                    div(class="row")
                        div(class="message-data right-align")
                            span(class="message-data-time",style="margin-right: 5px;") {{ registro.fecha }}
                            span(class="message-data-name",style="margin-right: 5px;") {{ registro.usuario }}
                    div(class="row")
                        div(class="message other-message float-right")
                            div(class="container-html-delta")
                                | {{ registro.html | safe }}
                                | {% if registro.hito != None %}
                                ul(class="collection")
                                    li(class="collection-item avatar",style="color: black;")
                                        a(href="{{ registro.hito.url_file }}")
                                            i(class="material-icons circle green") insert_drive_file
                                        span(class="title") Hito:
                                            b {{ registro.hito.tipo }}
                                        p(style="font-size:0.8rem;color: #9b9da6;") {{ registro.fecha }}
                                | {% endif %}

                |{% else %}
                li
                    div(class="row")
                        div(class="message-data")
                            span(class="message-data-name",style="margin-right: 5px;") {{ registro.fecha }}
                            span(class="message-data-time",style="margin-right: 5px;") {{ registro.usuario }}
                    div(class="row")
                        div(class="message my-message")
                            div(class="container-html-delta")
                                | {{ registro.html | safe }}
                                |{% if registro.hito != None %}
                                ul(class="collection")
                                    li(class="collection-item avatar",style="color: black;")
                                        a(href="{{ registro.hito.url_file }}")
                                            i(class="material-icons circle green") insert_drive_file
                                        span(class="title") Hito:
                                            b {{ registro.hito.tipo }}
                                        p(style="font-size:0.8rem;color: #9b9da6;") {{ registro.fecha }}
                                |{% endif %}
                |{% endif %}
                |{% endfor %}

                |{% endif %}


    div(class="fixed-action-btn")
        a(href="#modal-registro",class="btn-floating btn-large red tooltipped modal-trigger",
        data-position="top",data-delay="50",data-tooltip="Agregar registro")
            i(class="large material-icons") add




    div(id="modal-registro",class="modal")
        div(class="modal-content")
            p(style="margin-left:10px;")
                b Nuevo registro:
            |{% crispy form %}

block body_script_auth
    script.

        $(document).ready(function () {

            $('.modal').modal({
                opacity: .9,
            });

            var toolbarOptions = [
                [{'header': []}],
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote'],

                [{'list': 'ordered'}, {'list': 'bullet'}],
                [{'script': 'sub'}, {'script': 'super'}],      // superscript/subscript
                [{'indent': '-1'}, {'indent': '+1'}],          // outdent/indent
                [{'direction': 'rtl'}],                         // text direction

                [{'color': []}, {'background': []}],          // dropdown with defaults from theme
                [{'align': []}],

                ['clean']                                         // remove formatting button
            ];

            var quill = new Quill('#contenido', {
                modules: {
                    toolbar: toolbarOptions,
                },
                theme: 'snow'
            });



            $('form').submit(function () {
                var delta_json = JSON.stringify(quill.getContents());
                $("#id_contenido").val(delta_json);
            });



        });