extends ../../../../../base_auth

block title
    |{{title | upper}}


block side_nav_container

    ul(class="collapsible",data-collapsible="accordion")
        li(class="bold waves-effect waves-light button-menu")

            div(class="collapsible-header active")
                i(class="material-icons") local_activity
                | Breadcrums

            div(class="collapsible-body collapsible-body-blue")
                ul
                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/") Inicio
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/iraca_2021/") IRACA
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light")
                        a(href="{{ url_ruta_breadcrum }}") {{ ruta_breadcrum }}
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light")
                        a(href="../../../../") Actividades: {{ breadcrum_1 | truncatechars:15 }}
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light")
                        a(href="../../") {{ breadcrum_2 | truncatechars:22 }}
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")





                    li(class="bold waves-effect waves-light breadcrum-active")
                        a(href="#") Ver: {{ breadcrum_active | truncatechars:20 }}
                            i(class="material-icons icon-sican") check_circle

                    div(class="divider divider-perfil")



block container_principal
    div(class="container container-form",style="margin-top:20px;margin-left:150px;")
        div(class="row")
            div(class="col s12")
                fieldset(style="margin:0;padding-left:0;")
                    legend Documento Escaneado:
        div(class="row")

                    div(class="col s12")
                        embed(src="{{objeto.url_file}}",type="application/pdf",width="80%",height="700px")


        div(class="row")
            div(class="col s12")
                fieldset(style="margin:0;padding-left:0;")
                    legend Documento Escaneado:
            div(class="col s12")
                embed(src="{{objeto.url_file2}}",type="application/pdf",width="80%",height="700px")

        div(class="row")
            div(class="col s12")
                fieldset(style="margin:0;padding-left:0;")
                    legend Soporte:
            div(class="col s12")
                img(src="{{objeto.url_foto1}}",class="materialboxed",style="width:80%;")

        div(class="row")
            div(class="col s12")
                fieldset(style="margin:0;padding-left:0;")
                    legend Registro Fotografico:
            div(class="col s6")
                img(src="{{objeto.url_foto2}}",class="materialboxed",style="width:80%;")
            div(class="col s6")
                img(src="{{objeto.url_foto3}}",class="materialboxed",style="width:80%;")


        div(class="row")
            div(class="col s12")
                fieldset(style="margin:0;padding-left:0;")
            div(class="col s6")
                img(src="{{objeto.url_foto4}}",class="materialboxed",style="width:80%;")


block body_script_auth
    script.

        $(document).ready(function () {

        });