extends ../../../../../base_auth

block title
    |{{title | upper}}


block side_nav_container

    ul(class="collapsible",data-collapsible="accordion")
        li(class="bold waves-effect waves-light button-menu")

            div(class="collapsible-header active")
                i(class="material-icons") local_activity
                | Breadcrums

            div(class="collapsible-body collapsible-body-blue")
                ul
                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/") Inicio
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/cpe_2018/") CPE 2018
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light")
                        a(href="/cpe_2018/rutas/") Rutas
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light")
                        a(href="../../../../../../../../../../") {{ breadcrum_1 | truncatechars:22 }}
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light")
                        a(href="../../../../../../../../") {{ breadcrum_2 | truncatechars:22 }}
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light")
                        a(href="../../../../../../") Acceso
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light")
                        a(href="../../../../") Radicado: {{ breadcrum_3 | truncatechars:15 }}
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light")
                        a(href="../../") {{ breadcrum_active | truncatechars:22 }}
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light breadcrum-active")
                        a(href="#") Editar
                            i(class="material-icons icon-sican") check_circle

                    div(class="divider divider-perfil")



block container_principal
    div(class="container",style="margin-top:40px;")
        |{% crispy form %}


block body_script_auth
    script.
        $(document).ready(function () {

            $('select').material_select();
            $("label[for='id_tipo']").addClass('active');

            $('#id_fecha').pickadate({
                format: 'dd/mm/yyyy',
                selectMonths: true,
                selectYears: 1,
                monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
                    'Octubre', 'Noviembre', 'Diciembre'],
                weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                today: 'Hoy',
                clear: 'Borrar',
                close: 'Ok',
                closeOnSelect: false
            });

            $('#id_relatoria').dropify({
                error: {
                    'fileSize': 'El archivo es demasiado grande.',
                },
                messages: {
                    'default': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'replace': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'remove': 'Eliminar',
                    'error': 'Ooops, algo malo paso.'
                }
            });

            $('#id_registro_fotografico').dropify({
                error: {
                    'fileSize': 'El archivo es demasiado grande.',
                },
                messages: {
                    'default': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'replace': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'remove': 'Eliminar',
                    'error': 'Ooops, algo malo paso.'
                }
            });

            $('#id_file').dropify({
                error: {
                    'fileSize': 'El archivo es demasiado grande.',
                },
                messages: {
                    'default': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'replace': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'remove': 'Eliminar',
                    'error': 'Ooops, algo malo paso.'
                }
            });


            $('#id_foto1').dropify({
                error: {
                    'fileSize': 'El archivo es demasiado grande.',
                },
                messages: {
                    'default': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'replace': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'remove': 'Eliminar',
                    'error': 'Ooops, algo malo paso.'
                }
            });

            $('#id_foto2').dropify({
                error: {
                    'fileSize': 'El archivo es demasiado grande.',
                },
                messages: {
                    'default': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'replace': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'remove': 'Eliminar',
                    'error': 'Ooops, algo malo paso.'
                }
            });

            $('#id_foto3').dropify({
                error: {
                    'fileSize': 'El archivo es demasiado grande.',
                },
                messages: {
                    'default': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'replace': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'remove': 'Eliminar',
                    'error': 'Ooops, algo malo paso.'
                }
            });

            $('#id_foto4').dropify({
                error: {
                    'fileSize': 'El archivo es demasiado grande.',
                },
                messages: {
                    'default': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'replace': 'Haz clic y selecciona el archivo, tambien puedes arrastrarlo y soltarlo aqui',
                    'remove': 'Eliminar',
                    'error': 'Ooops, algo malo paso.'
                }
            });


            var toolbarOptions = [
                [{'header': []}],
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote'],

                [{'list': 'ordered'}, {'list': 'bullet'}],
                [{'script': 'sub'}, {'script': 'super'}],      // superscript/subscript
                [{'indent': '-1'}, {'indent': '+1'}],          // outdent/indent
                [{'direction': 'rtl'}],                         // text direction

                [{'color': []}, {'background': []}],          // dropdown with defaults from theme
                [{'align': []}],

                ['clean']                                         // remove formatting button
            ];

            var quill = new Quill('#contenido', {
                modules: {
                    toolbar: toolbarOptions,
                },
                theme: 'snow'
            });


            $('form').submit(function () {
                var delta_json = JSON.stringify(quill.getContents());
                $("#id_delta").val(delta_json);
            });

        });