extends ../../base_auth

block title
    |{{title | upper}}


block side_nav_container

    ul(class="collapsible",data-collapsible="accordion")
        li(class="bold waves-effect waves-light button-menu")

            div(class="collapsible-header active")
                i(class="material-icons") local_activity
                | Breadcrums

            div(class="collapsible-body collapsible-body-blue")
                ul
                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/") Inicio
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/usuarios/") Usuarios
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/usuarios/cuentas/") Cuentas
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light breadcrum-active")
                        a(href="#") {{ breadcrum_active | truncatechars:25 }}
                            i(class="material-icons icon-sican") check_circle

                    div(class="divider divider-perfil")



block container_principal
    div(class="container container-form")
        |{% crispy form %}


block body_script_auth
    script.
        $(document).ready(function () {

            $("label[for='id_celular']").addClass('active');

            $('#id_groups').select2({
                placeholder: 'Seleccione los permisos del rol'
            });
            $("label[for='id_groups']").addClass('active');
            $("label[for='id_groups']").css("margin-top", "-10px");


            $('select').material_select();
            $("label[for='id_tipo_sangre']").addClass('active');

            $('#id_birthday').pickadate({
                format: 'dd/mm/yyyy',
                selectMonths: true,
                selectYears: 150,
                monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre',
                    'Octubre', 'Noviembre', 'Diciembre'],
                weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                today: 'Hoy',
                clear: 'Borrar',
                close: 'Ok',
                closeOnSelect: false
            });

            $('.stepper').activateStepper();

            $('#id_photo').dropify({
                messages: {
                    'default': 'Arrastre y suelte una imagen',
                    'replace': 'Arrastre y suelte una imagen para reemplazar',
                    'remove': 'Eliminar',
                    'error': 'Ooops, algo malo paso.'
                },
                error: {
                    'fileSize': 'El tama침o del archivo es demasiado grande (1MB maximo).',
                    'minWidth': 'El ancho de la imagen es demasiado peque침o ({{ value }}}px minimo).',
                    'maxWidth': 'El ancho de la imagen es demasiado grande ({{ value }}}px maximo).',
                    'minHeight': 'La altura de la imagen es demasiado peque침a ({{ value }}}px minimo).',
                    'maxHeight': 'La altura de la imagen es demasiado grande ({{ value }}px maximo).',
                    'imageFormat': 'El formato de imagen no est치 permitido ({{ value }} solamente).'
                }
            });
        });
