extends ../../../base_auth

block title
    |{{title | upper}}


block side_nav_container

    ul(class="collapsible",data-collapsible="accordion")
        li(class="bold waves-effect waves-light button-menu")

            div(class="collapsible-header active")
                i(class="material-icons") local_activity
                | Breadcrums

            div(class="collapsible-body collapsible-body-blue")
                ul
                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/") Inicio
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/iraca_2021/") IRACA
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light")
                        a(href="/iraca_2021/rutas/") Rutas
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")


                    li(class="bold waves-effect waves-light")
                        a(href="../") Actividades: {{ breadcrum_active | truncatechars:15 }}
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")



                    li(class="bold waves-effect waves-light breadcrum-active")
                        a(href="#") Valores
                            i(class="material-icons icon-sican") check_circle

                    div(class="divider divider-perfil")



block container_principal
    div(class="container",style="margin-top:40px;")
        |{% crispy form %}


block body_script_auth
    script.

        $(document).ready(function () {

            var momentos = JSON.parse("{{ ids_momentos | escapejs }}");

            for(var i = 0;i < momentos.length;i++){
                new AutoNumeric(document.getElementById(momentos[i]), {currencySymbol: '$ '});
            }


        });