extends ../../../../base_auth

block title
    |{{title | upper}}


block side_nav_container

    ul(class="collapsible",data-collapsible="accordion")
        li(class="bold waves-effect waves-light button-menu")

            div(class="collapsible-header active")
                i(class="material-icons") local_activity
                | Breadcrums

            div(class="collapsible-body collapsible-body-blue")
                ul
                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/") Inicio
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/cpe_2018/") CPE 2018
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="/cpe_2018/formacion/") Formación
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light")
                        a(href="../../") Diplomados
                            i(class="material-icons icon-sican") keyboard_arrow_right

                    div(class="divider divider-perfil")

                    li(class="bold waves-effect waves-light breadcrum-active")
                        a(href="#") {{ breadcrum_active | truncatechars:22 }}
                            i(class="material-icons icon-sican") check_circle

                    div(class="divider divider-perfil")



block container_principal
    div(class="container-datatable")
        table(id="table",class="display responsive no-wrap table table-striped table-bordered",width="100%")
            thead
                tr
                    th Ver
                    th Nombre
                    th N° Sesiones
                    th N° Actividades

            tbody
                tr
                    td Ver
                    td Nombre
                    td N° Sesiones
                    td N° Actividades


block body_script_auth
    script.

        $(document).ready(function () {

            var table = $('#table').DataTable({
                responsive: true,
                stateSave: true,
                searching: true,
                processing: true,
                serverSide: true,
                order: [[ 1, "asc" ]],
                ajax: "{{ url_datatable }}",
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.10.8/i18n/Spanish.json"
                },
                drawCallback: function (settings) {
                    $('.tooltipped').tooltip({delay: 50});
                }
            });

            table.on('responsive-display', function (e, datatable, row, showHide, update) {
                $('.tooltipped').tooltip({delay: 50});
            });

        });